@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

/* ow color: rgb(247, 247, 247) */

html {
  /* scroll-behavior: smooth; */
}

body {
  background-color: rgb(247, 247, 247);
  text-align: center;
  font-family: Roboto;
}
.App {
  text-align: center;
}

.main {
  display: flex;
}

.maparea {
  margin: 20px auto;
}
.qrtemp {
  margin: 20px auto;
  background-color: white;
  padding: 40px 15px 40px 15px;
  border-radius: 15px;
  box-shadow: rgb(0 0 0 / 5%) 0px 5px 16px 0px;
}

.hidden {
  display: none;
}
/* Map Canvas CSS */

#map_canvas {
  border-radius: 16px;
  margin-top: 50px;
}

/* QR Template CSS */

.qr-template {
  position: relative;
  background-color: #6c63ff;
  color: #fff6f6;
  padding: 25px 20px 15px 20px;
  border-radius: 16px;
  font-family: "Poppins", sans-serif;
}

.qr-img-container img {
  border: 10px solid #fff6f6;
  border-radius: 6px;
}

.company-name {
  font-size: 24px;
}

.tagline {
  font-weight: bold;
}

.white-box {
  background-color: white;
  border-radius: 0 0 40px 40px;
  position: absolute;
  left: 50%;
  top: -5%;
  width: 100px;
  height: 20px;
  transform: translate(-50%, 100%);
}

.button-genQR {
  border: none;
  outline: none;
  background-color: #6c63ff;
  color: #fff6f6;
  font-family: Roboto;
  border-radius: 6px;
  font-weight: 500;
  font-size: 18px;
  padding: 8px 28px;
  margin: 20px 0px;
  margin-bottom: 25px;
  border: 2px solid #6c63ff;
  cursor: pointer;
}

.button-download,
.button-location {
  text-decoration: none;
  color: #6c63ff;
  border: 2px solid #6c63ff;
  font-family: Roboto;
  border-radius: 6px;
  font-weight: 500;
  font-size: 18px;
  padding: 8px 25px;
  margin: 0px 2px;
}

/* Intro section CSS */

.intro {
  height: 100vh;
  background-color: white;
  position: relative;
}

.logo {
  position: absolute;
  width: 300px;
  height: 100px;
  left: 70px;
  top: 15px;
}

.illustration {
  position: absolute;
  height: 500px;
  width: 800px;
  right: -50px;
  top: 150px;
}

.info {
  position: absolute;
  font-family: roboto;
  font-weight: 600;
  font-size: 30px;
  top: 150px;
  left: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #4e4e4e;
}

.info p {
  margin: 15px 0px;
}

.form {
  position: absolute;
  top: 350px;
  left: 80px;
  background-color: #6c63ff;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  padding: 40px 30px;
  justify-content: space-around;
  border-radius: 16px;
}
.form button {
  background-color: whitesmoke;
  color: #6c63ff;
  border-radius: 36px;
  margin: 0;
}

.form-input {
  border: none;
  outline: none;
  border-radius: 36px;
  padding: 8px 28px;
}

.form-input::placeholder {
  font-family: roboto;
}
