@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

body {
  background-color: rgb(247, 247, 247);
  text-align: center;
  font-family: Roboto;
}
.App {
  text-align: center;
}
.main {
  display: flex;
}

.maparea {
  margin: 20px auto;
}
.qrtemp {
  margin: 20px auto;
  background-color: white;
  padding: 40px 15px 40px 15px;
  border-radius: 15px;
  box-shadow: rgb(0 0 0 / 5%) 0px 5px 16px 0px;
}

.hidden {
  display: none;
}

/* QR Template CSS */

.qr-template {
  background-color: #6c63ff;
  color: #fff6f6;
  padding: 25px 20px 15px 20px;
  border-radius: 16px;
  font-family: "Poppins", sans-serif;
}

.qr-img-container img {
  border: 10px solid #fff6f6;
  border-radius: 6px;
}

.company-name {
  font-size: 24px;
}

.tagline {
  font-weight: bold;
}

.white-box {
  background-color: white;
  border-radius: 0 0 40px 40px;
  position: relative;
  left: 50%;
  width: 100px;
  height: 20px;
  transform: translate(-50%, 100%);
}

.button-genQR {
  border: none;
  outline: none;
  background-color: #6c63ff;
  color: #fff6f6;
  font-family: Roboto;
  border-radius: 6px;
  font-weight: 500;
  font-size: 18px;
  padding: 8px 26px;
  margin: 15px 0px;
  margin-bottom: 25px;
  border: 2px solid #6c63ff;
}

.button-download,
.button-location {
  text-decoration: none;
  color: #6c63ff;
  border: 2px solid #6c63ff;
  font-family: Roboto;
  border-radius: 6px;
  font-weight: 500;
  font-size: 18px;
  padding: 8px 25px;
  margin: 0px 2px;
}
