@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
  background-color: rgb(247, 247, 247);
  text-align: center;
  font-family: Roboto;
}
.App {
  text-align: center;
  
}
.main{
  display: flex;
}

.maparea{
  margin: 20px auto;
}
.qrtemp{
  margin: 20px auto;
  background-color: white;
  padding: 50px;
  border-radius: 15px;
  box-shadow: rgb(0 0 0 / 5%) 0px 5px 16px 0px;
}